/* Portrait and Landscape */
@media screen 
  and (min-width: 360px) 
  and (max-width: 911px) 
   {
    #nav ul{
        padding: 0;
    }
       #nav ul li{
    flex: 100%;
    margin: 0;
    text-align: center;
}
.main-image img{
    max-width: 300px;
}

.main-intro h1{
    font-size: 30px;
}
.service-item
{
    margin: 1em auto ;
}
.about-detail{
    flex:100%;
}
}

@media (min-width: 1200px) {
   .main-container{
    max-width: 1140px;
    margin: 0 auto;
   }
  }