/* Portrait and Landscape */
@media screen 
  and (min-width: 360px) 
  and (max-width: 911px) 
   {
       #nav ul li{
	width: 100%;
}
.service-item
{
    margin: 1em auto ;
}
.about-detail{
    flex:100%;
}
}

@media (min-width: 1200px) {
   .main-container{
    max-width: 1140px;
    margin: 0 auto;
   }
  }